/*========================================================================================================*/
/*============================================= CARROUSEL 1 ==============================================*/
/*========================================================================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic';
}

#slider-1{
    background-color: #ffb426;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}

/*//////////////////////////////////////////////////////////////////////////*/
.slider-container{ /* CONTAINER PRINCIPAL */
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    overflow: hidden; /* 2- asi ocultamos el desbordamiento */
    position: relative;
}

img{
    width: 100%;
    display: block; /* 3- se elimina la linea que habia debajo */
}

.slider{
    display: flex;
    transition: transform 0.5s; /* 13- animacion de transitcion de imagen */
}

.slide{
    min-width: 100%; /* 1- usara el 100% como minimo del ancho del contenedor pero hay desbordamiento */
}

.button{ /* botones para cambiar imagen manualmente */
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%); /* 5- se translada del 50% de su ancho */
}

button{
    background-color: transparent;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 40px;
    padding: 0 15px;
    user-select: none; /* 6- para desactivar la raya quee parpadea para escribir texto */
}

.dot{
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 3px;
    user-select: none;
    /* 7- luego creamos el contenedor de los dots (.dots-container) */

    transition: background 0.3s;
}

.dots-container{
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%); /* para ubicarlo en la parte cental */
    display: flex; /* 8- para que este uno al lado del otro en fila */
}

.dot.active{
    background-color: #ffb426;
}

/*========================================================================================================*/
/*============================================= CARROUSEL 2 ==============================================*/
/*========================================================================================================*/

/* AQUI USAMOS CODIGO DE SPLIDEJS.COM */

.splide{
    /* width: 80%; */
    /* height: 400px; */
    /* padding: 15px; */
    /* background-color: green; */
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* .splide__track{
    margin: 0 50px;
} */

.splide__list li img{
    width: 100%;
    /* height: 400px; */
    object-fit: cover; /* para que no se distorcione la imagen, no se alargue */
    cursor: pointer;
}

.splide__list li img:active{
    cursor: grabbing;
}

.splide__arrow{
    background-color: red;
    font-size: 15px;
}

/*========================================================================================================*/
