@font-face {
    font-family: 'Livvic';
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic';
}

:root{
    --subarucolor: #0e4bef;
}

#nastro-1{
    background-color: var(--subarucolor);
}

/*----------------------------------- PRIM0 NASTRO ---------------------------------------*/

.div-zero{
    display: flex;
    flex-wrap: wrap; /* para que se mueve */
    justify-content: center;
    align-items: center;
    overflow: hidden;

    font-size: 15px;
}

.div-zero-links ul{
    display: flex;
    justify-content: center;
    list-style-type: none;  /* PARA QUITAR LOS PUNTOS DEL LADO IZQUIERDO */
}

.div-zero-links li a, i{
    padding: 0 5px;
    text-decoration: none;
    color: white;
}

/* .div-zero-promo a{
    display: flex;
    align-items: center;
    object-fit: cover;
} */

/* //////////////////////////////////////////////////////////////*/
.slider-frame {
    display: flex;
    justify-content: center;

	overflow: hidden;
}

.slider-frame ul {
	display: flex;

	animation: slide 3s infinite alternate ease-in-out;
}

.slider-frame li {

	list-style: none;
}



@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: 50%;}
	45% {margin-left: 50%;}
	
	50% {margin-left: -50%;}
	70% {margin-left: -50%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}