@font-face {
    font-family: 'Livvic';
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic';
}

:root{
    --subarucolor: #0e4bef;
}

#nastro-1{
    background-color: var(--subarucolor);
}

/*----------------------------------- PRIM0 NASTRO ---------------------------------------*/

.div-zero{
    display: flex;
    flex-wrap: nowrap; /* para que se mueve al hacer responsive*/
    justify-content: center;
    align-items: center;


}

.div-zero-links ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    list-style-type: none;  /* PARA QUITAR LOS PUNTOS DEL LADO IZQUIERDO */



}


.div-zero-links ul li a, i{
    padding: 0 5px;
    text-decoration: none;
    color: white;
}

/* .div-zero-promo a{
    display: flex;
    align-items: center;
    object-fit: cover;
} */

/* ////////////////////////////////////////////////////////////// */

.div-zero-promo {
    overflow: hidden; /* para que no pasar limite hacia otro div */
    width: 880px;

}

.div-zero-promo ul {
    width: 440px;
    margin: 0 auto;
    display: flex;

    position: relative;
    /* left: 50%; */
    
	animation: slide 3s infinite alternate;

}

.div-zero-promo li {
	list-style: none;



}

.div-zero-promo li img{

    width: 100%;
    height: 100%;


}

/* @keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
} */

/* ////////////////////////////////////////////////////////////// */
.div-zero-social{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}