@font-face {
    font-family: 'Livvic';
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic';
}

#header-1{
    background-color: beige;
    padding: 40px 0;
}

/*=====================================================================================*/
.div-0{
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.div-1{
    height: 100%;
    object-fit: cover;
}

.div-1 img{
    height: 100%;
    
}

.div-2 a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}

.div-2-i{
    background: orangered;
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.div-2-p{
    width: 50%;
    padding: 0 10px;
    color: white;
}
