@font-face {
    font-family: "Livvic";
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic';
}

:root{
    --subarucolorblue: #0e4bef;
    --subarucolorwhite: #ffffff;
    --subarucolorblack: #000000;
    --variablecoloricon: orangered;
    --variablecolorneongreen: #4efd00;
}

/*=======================================================================*/
/*=======================================================================*/
body{
    background-color: #888888;
}

nav{
    max-width: 1920px;

    background-color: var(--subarucolorwhite);
    font-size: 15px;
    margin-top: 30px;
}

.menu-horizontale{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 50px;
}



.menu-horizontale > li > a{
    display: block;
    padding: 5px 5px; /* ESPACIO ENTRE CATEGORIAS */
    color: var(--subarucolorblue);
    font-weight: 900;
    text-decoration: none;
}

.menu-horizontale > li:hover{
    background-color: var(--subarucolorblack);
}

.menu-horizontale li:hover .menu-verticale{
    display: block;
}

.menu-horizontale li a:hover, .menu-verticale li a:focus+{
    color: var(--subarucolorwhite);
}




/*/////////////////////////////////////////////////////////////////////////*/
.menu-verticale{
    list-style: none;
    position: absolute;
    display: none;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-verticale li:hover{
    background-color: black;
}

.menu-verticale li a{
    display: block;
    text-decoration: none;
    color: var(--subarucolorwhite);
    padding: 15px 15px 15px 20px; /* ESPACIO ENTRE SUBCATEGORIAS */
}