@font-face {
    font-family: "Livvic";
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Livvic';
}

:root{
    --subarucolorblue: #0e4bef;
    --subarucolorwhite: #ffffff;
    --subarucolorblack: #000000;
    --variablecoloricon: orangered;
    --variablecolorneongreen: #4efd00;
}

#menubar-1{
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 0;
}
/*=======================================================================*/
/*=======================================================================*/
body{
    background-color: #888888;
}

nav{
    max-width: 1920px;

    background-color: var(--subarucolorwhite);
    font-size: 15px;
    /* margin-top: 30px; */
}

.menu-horizontale{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 50px;
}

.menu-horizontale > li > a{
    display: block;
    padding: 5px 5px; /* ESPACIO ENTRE CATEGORIAS */
    color: var(--subarucolorblue);
    font-weight: 600;
    text-decoration: none;
}

.menu-horizontale > li:hover{
    background-color: var(--subarucolorblack);
}

.menu-horizontale li:hover .menu-verticale{
    /* display: block; */ /* antes activo pero le puse ahora flex */
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(8, 1fr); /* 8 columnas con 1 fraccion de espacio entre ellas */
    gap: 10px; /* espacio entre columnas y filas */

}

.menu-horizontale > li:hover > a { /* RECIEN AGREGADO */
    color: var(--subarucolorwhite);
}


/* .menu-horizontale > li >a:hover, .menu-verticale:focus{
    color: var(--subarucolorwhite);
} */

/*/////////////////////////////////////////////////////////////////////////*/
.menu-verticale{
    list-style: none;
    position: absolute;
    display: none;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid var(--variablecolorneongreen) ;
    
}

.menu-verticale li a{
    text-decoration: none;
    color: var(--subarucolorwhite);
    padding: 15px 15px 15px 20px; /* ESPACIO ENTRE SUBCATEGORIAS */
}

/*=======================================================================*/
/*=========================== DENTRO DI MENU ============================*/
.menu-verticale > li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-verticale > li > a > img{
    height: 70px;
    width: 70px;
}

.menu-verticale > li > a > span{
    display: flex;
}