@font-face {
    font-family: 'Livvic';
    src: url(../fonts/Livvic/Livvic-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Livvic';
}

:root{
    --subarucolorblue: #0e4bef;
    --subarucolorwhite: #ffffff;
    --variablecoloricon: orangered;
    --variablecolorneongreen: #4efd00;

    /* ================== MENU =======================*/
    --subarucolorblue: #0e4bef;
    --subarucolorwhite: #ffffff;
    --subarucolorblack: #000000;
    --variablecoloricon: orangered;
    --variablecolorneongreen: #4efd00;
    --variablecolorred: #ff0000;
}

/*#nastro-1{
    background: #833ab4;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*padding: 30px 0;
}*/

/*----------------------------------- PRIM0 NASTRO ---------------------------------------*/
#nastro-1{
    background-color: var(--subarucolorblue);
}

.div-zero{
    background-color: var(--subarucolorblue);
    display: flex;
    flex-wrap: nowrap; /* para que se mueve al hacer responsive*/
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    margin: auto;
}

.div-zero-links ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;  /* PARA QUITAR LOS PUNTOS DEL LADO IZQUIERDO */
}


.div-zero-links ul li a, i{
    padding: 0 5px;
    text-decoration: none;
    color: var(--subarucolorwhite);
}

/* ////////////////////////////////////////////////////////////// */

.div-zero-promo {
    overflow: hidden; /* para que no pasar limite hacia otro div */
    width: 880px;
}

.div-zero-promo ul {
    width: 440px;
    margin: 0 auto;
    display: flex;
    position: relative;
    /* left: 50%; */
    
	animation: slide 2s infinite alternate ease-in;
}

.div-zero-promo li {
	list-style: none;
}

.div-zero-promo ul li:nth-child(3) {
    display: none;
}

.div-zero-promo li img{
    position: relative;
    width: 100%;
    height: 100%;
}

.div-zero-promo li img{
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0%, 80% {
        opacity: 1; /* visible */
    }
    80.01%, 100% {
        opacity: 0; /* invisible */
    }
}

/* ////////////////////////////////////////////////////////////// */
.div-zero-social{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.div-zero-social i{
    padding: 0 12px;
}

.div-zero-social .fa-facebook-f, .fa-tiktok{
    font-size: 15px;
}

/*==================================== SEPARATORE ================================*/
.separator-2a-neon-plus{
    position: relative; /* ENCIMA DE CINTA Y LOGO Y BUSCADOR */
    height: 2px;
    background-color: var(--variablecolorneongreen);
    box-shadow:
        0 0 0px var(--variablecolorneongreen),
        0 0 2px var(--variablecolorneongreen),
        0 0 5px var(--variablecolorneongreen),
        0 0 10px var(--variablecolorneongreen) inset;
    animation: neonPulse 2s ease-in-out infinite;
}

@keyframes neonPulse {
    0%, 100% {
        box-shadow:
        0 0 0px var(--variablecolorneongreen),
        0 0 2px var(--variablecolorneongreen),
        0 0 5px var(--variablecolorneongreen),
        0 0 10px var(--variablecolorneongreen) inset;
    }
    50% {
        box-shadow:
        0 0 5px var(--variablecolorneongreen),
        0 0 10px var(--variablecolorneongreen),
        0 0 15px var(--variablecolorneongreen),
        0 0 20px var(--variablecolorneongreen) inset;
    }
}

/*===================== LOGO, MOTORE DI RICERCA E PULSANTI =======================*/
/*=====================================================================================*/
.div-0{
    background-color: var(--subarucolorblue);
    width: 100%;
    height: 90px; /* ALTURA DEL DIV PARA LA IMAGEN */
    display: flex;
    flex-wrap: nowrap;/* hacer el efecto comprimido como en la pagina web principal */
    align-items: center;
    overflow: hidden;
}

.div-1{
    height: 100%;
    object-fit: cover;

}

.div-1 img{
    height: 100%;
}

/*=====================================================================================*/
.div-2-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-2 a{
    width: 100%;
    padding: 15px;
    text-decoration: none;
}

.div-2-i{
    background: var(--variablecoloricon);
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: var(--subarucolorwhite);
}

.div-2-p{
    width: 100%;
    padding: 0 10px;
    color: var(--subarucolorwhite);
}

.div-2{
    display: none; /* PARA OCULTAR MENU CATEGORIAS */
}

/*=====================================================================================*/
.div-3{
    padding-left: 20px; /* POR PONER DISPLAY NONEN EN .DIV-2 */
    width: 100%;
}

.div-3-search{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.div-3-search-square{
    width: 100%;
}

.div-3 .form-control{
    /*align-items: center;*/
    padding: 0 15px;
    font-size: 20px;
    width: 100%;
    height: 40px; /* ALTURA DEL BUSCADOR */
    border: 2px solid var(--variablecolorneongreen);
    border-radius: 50px;
}

.div-3 .form-control:focus{
    color: #878787;
    border-style: hidden;
}

.div-3-search-button{
    position: absolute;
}

/* .div-3-search-button .fa-magnifying-glass{
    background: var(--subarucolorblue);
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 0;
    left: 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.div-3-search-button .btn-default{
    background: var(--subarucolorblue);
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    top: 0;
    left: 0;
}

/*=====================================================================================*/
.div-4{
    display: flex;
}

.div-4-user{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 5px;
    padding: 0 5px;
    text-decoration: none;

    border: 2px solid var(--variablecolorneongreen);
    border-radius: 30px;
}

.div-4-user-i{
    /* background: var(--variablecoloricon); */
    /* border-radius: 20%; */
    padding: 0 5px;
    font-size: 25px;
    font-weight: bold;
    color: var(--subarucolorwhite);
}

.div-4-user-p{
    padding: 0 10px 0 0;
    color: var(--subarucolorwhite);
    font-size: 15px;
}

/* .div-4-user-i-2{
    color: var(--subarucolorwhite);
} */
/* //////////////////////// */
.div-4-pc{
    display: flex;
    align-items: center;
    align-items: center;
    margin: 25px 5px;
    padding: 0 5px;
    text-decoration: none;
    
    border: 2px solid var(--variablecolorneongreen);
    border-radius: 30px;
}

.div-4-pc-i{
    /* background: var(--variablecoloricon); */
    /* border-radius: 20%; */
    padding: 0 10px 0 5px;
    font-size: 25px;
    font-weight: bold;
    color: var(--subarucolorwhite);
}

.div-4-pc-p{
    padding: 0 10px 0 0;
    color: var(--subarucolorwhite);
    font-size: 15px;
}

/* //////////////////////// */
.div-4-cart{
    display: flex;
    align-items: center;
    margin: 25px 5px;
    padding: 0 5px;
    text-decoration: none;

    border: 2px solid var(--variablecolorneongreen);
    border-radius: 30px;
}

.div-4-cart-i{
    /* background: var(--variablecoloricon); */
    /* border-radius: 50%; */
    padding: 0 10px 0 5px;
    font-size: 25px;
    font-weight: bold;
    color: var(--subarucolorwhite);
}

/* /////////////////////////////////// PARA DESAPÀRECER /////////////////////////////////////// */

.div-3-sub{/* para ocularlo antes de ir a media query*/
    background: black;
    height: auto;
    opacity: 0;
    display: none;
}

.div-2-first{
    display: none;
}

/*============== MEDIA QUERIES => LOGO, MOTORE DI RICERCA E PULSANTI ===============*/
@media (max-width : 767px){/* para mostrarlo en media query debajo de div-0*/
    
    .div-0{
        height: 60px;
        display: flex;
    }

    .div-2{
        margin: 0 -20px 0 -20px;
    }

    .div-3-sub{/* DIV que aparece debajo del div principal en media query */
        display: block;/* para que vuelva aparecer despues del diaplsy none*/
        width: 100%;
        opacity: 1;
        background: black;
        padding: 0 10px;
    }

    .div-3-search-sub{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding: 5px 0;
        position: relative;
    }

    .div-3-search-square-sub{
        width: 100%;
    }

    .div-3-search-square-sub .form-control-sub{
        width: 100%;
        padding: 0 15px;
        font-size: 20px;
        height: 40px;
        border: 2px solid var(--variablecoloricon);
        border-radius: 50px;
    }

    .div-3-search-button-sub{
        position: absolute;
    }

    .div-3-search-button-sub .btn-default{
        background: var(--variablecoloricon);
        border: none;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        top: 0;
        left: 0;
    }

    .div-2, .div-3, .div-4{
        display: flex;
        scale: 0.7;
        
    }

    .div-3{
        display: none;
    }

    .div-4{
        margin: 0 -70px 0 -70px;
    }
}

@media (max-width : 479px){
    .div-2{
        display: none;
    }

    .div-2-first{
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--variablecoloricon);
        padding: 10px;
    }

    .div-2-i-first{
        background: var(--subarucolorwhite);
        border-radius: 50%;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .div-2-i-first .fa-bars{
        color: var(--variablecoloricon);
    }

    .div-4-user-p, .div-4-pc-p, .div-4-user-i-2{
        display: none;
    }

    .div-4{
        display: flex;
        justify-content: center;
        width: 100%;

    }
}

@media (max-width : 349px){
    .div-4-pc{
        display: none;
    }

    .div-4-user{

        padding: 0;
    }
}

/*==================================================================================*/
/*==================================================================================*/
/*============================== BARRA MENU CATEGORIAS =============================*/
/*==================================================================================*/
/*==================================================================================*/
#menubar-1{
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*=======================================================================*/
/*=======================================================================*/
body{
    background-color: #888888;
}

nav{
    max-width: 1920px;

    background-color: var(--subarucolorwhite);
    font-size: 15px;
    /* margin-top: 30px; */
}

.menu-horizontale{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 50px;

}

.menu-horizontale > li > a{
    display: block;
    padding: 5px 10px; /* ESPACIO ENTRE CATEGORIAS */
    color: var(--subarucolorblue);
    font-weight: 600;
    text-decoration: none;
}

.menu-horizontale > li:hover{
    background-color: var(--subarucolorblack);
}

.menu-horizontale li:hover .menu-verticale{
    display: grid; /* para hcaer columnas dentro del menu vertical*/
    flex-wrap: wrap; /* para que los item salten de linea cuando no entren en una */
    grid-template-columns: repeat(8,1fr); /*8 columnas con 1 fraccion de espacio entre ellas */
    gap: 10px; /*espacio entre columnas y filas*/

}


.menu-horizontale li:hover .menu-verticale{
    display: flex;


}

.menu-horizontale > li:hover > a { /* RECIEN AGREGADO */
    color: var(--subarucolorwhite);
}

/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
.menu-verticale{
    list-style: none;
    position: absolute;
    z-index: 100;
    display: none;
    /* width: auto; el ancho del menu vertical se ajusta automaticamente  */
    background-color: rgba(119, 119, 119, 0.7);
    border: 2px solid var(--variablecolorneongreen) ;
    padding: 20px 20px;
}

.menu-verticale li a{
    text-decoration: none;
    color: var(--subarucolorwhite);
    margin: 15px 10px;


}

/*=======================================================================*/
/*=========================== DENTRO DI MENU ============================*/
.menu-verticale > li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.menu-verticale > li > a > img{
    height: 70px;
    width: 70px;
}

.menu-verticale > li > a > span.si-stock{
    color: var(--variablecolorneongreen);
    font-weight: 700;
}

.menu-verticale > li > a > span.no-stock{
    color: var(--variablecolorred);
    font-weight: 700;
}

/*////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// C A R O U S E L ///////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////*/
.splide{
    position: absolute;
    z-index: 10;
}

.splide__list li img{
    width: 100%;
    /* height: 400px; */
    object-fit: cover; /* para que no se distorcione la imagen, no se alargue */
    cursor: pointer;
}

.splide__list li img:active{
    cursor: grabbing;
}

.splide__arrow{
    background-color: red;
}